################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Unlimited/.vs/Unlimited
/Unlimited/Unlimited.Repository/bin/Debug/net8.0
/Unlimited/Unlimited.Repository/obj
/Unlimited/Unlimited.Service/bin/Debug/net8.0
/Unlimited/Unlimited.Service/obj
/Unlimited/.vs/ProjectEvaluation
/Unlimited/Enums/obj
/Unlimited/Models/obj
/Unlimited/Enums/bin/Debug/net8.0
/Unlimited/Models/bin/Debug/net8.0
/Unlimited/Unlimited.Api/bin/Debug/net8.0
/Unlimited/Unlimited.Api/obj
/Unlimited/OfficialUnlimitedDBIntegration/obj
/Unlimited/OfficialUnlimitedDBIntegration/bin/Debug/net8.0
/Unlimited/HelperFunctions/obj
/Unlimited/HelperFunctions/bin/Debug/net8.0
/Unlimited/Unlimited.Repository.Tests/bin/Debug/net8.0
/Unlimited/Unlimited.Repository.Tests/obj/Debug/net8.0
/Unlimited/Unlimited.Repository.Tests/obj
/Unlimited/ApiAuth/obj
/Unlimited/ApiAuth/bin/Debug/net8.0
